.app {
    background-image: url("./images/Wurklo_logo_blue_smaller.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;

}

.app__main {
    color: white;
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
}